<p>products works!</p>
Enter Search: <input type="text" #search (keyup)="validate(search.value)" /> <br> {{search.value}} <br><br>
<table border="1">
    <th>Image</th>
    <th>product id</th>
    <th>product name</th>
    <th>index</th>
    <th>image</th>
    <th>Remove</th>
    <th>Edit</th>
    <tr *ngFor=" let p of products; let i= index;">
        <td><img src="{{imgPath}}" /></td>
        <td>{{p.id}}</td>
        <td><a [routerLink] = "[ 'productdetails', p.id]">{{p.name}}</a></td>
        <td>{{i}}</td>
        <td><img [src]="imgPath"/></td>
        <td *ngIf="!isAdmin"><button (click)= "remove(i)" >Delete</button></td>
        <td><button [disabled]="!isAdmin">Edit</button></td>
    </tr>
</table>
<router-outlet></router-outlet>
