<app-menu></app-menu>
<br><br>
<router-outlet></router-outlet>
<!-- the component get loaded inside router-outlet when user clicks on the router links -->
<!-- 
    
<p>Main page i.e App Component HTML</p>
<app-welcome></app-welcome>
<p>Welcome page loaded, {{name}}</p>

<app-profile [profileName]="name" (update)="handleUpdate($event)"></app-profile> 

-->

<!-- [profileName]="name" is an example of custom property, it is done so that 
we get the value from parent .  (update)="handleUpdate" is an example of
custom event, it is done to transfer the value from child to parent-->

<!-- 
<app-header></app-header>
<app-products></app-products>
<app-login></app-login>

<hr><hr>
<app-signupform></app-signupform>
<hr> <hr>
<app-photos></app-photos>  
-->
